:root{
    --primery-text-color:#212121;
    --accent-color:#2196F3;
    --white-color:#FFFFFF;
    --contact-footer-color:rgba(255, 255, 255, 0.6);
    --background-grey: #F5F4FA;
    --caption-color: #757575;
    --background:#F5F4FA;

}
html{
    box-sizing: border-box;
}
* { outline: 0; padding: 0; margin: 0; border: 0; }  
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{

    background: var(--white-color);
    color: var(--primery-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing:0.03em;
    text-decoration: none;

}
ul{
   
    list-style:none 
}
.container{
    margin-left: auto;
     margin-right: auto;
     width:1200px;
     padding-left: 15px;
     padding-right: 15px;
     align-items: center;
     justify-content: center;
 }
/* цвет основного текста #212121 */

/* вторичный цвет текста  #757575 */
/* белый #FFFFFF */
/* цвет -акцент #2196F3*/
/* цвет контактов в footer rgba(255, 255, 255, 0.6)*/
 
/* логотип */
.header-logo {

    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--primery-text-color);
    text-decoration: none;

}
.webstudio{
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-logo:hover,
.header-logo:active,
.header-logo:focus{
     color:var(--accent-color);}
.logo-web{
    padding-top: 24px;
    padding-bottom: 25px;

    font-family:'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color:var(--accent-color);
    text-decoration: none;
}
/*ссылки в шапке страницы */


/* наведения на ссылки страницы */
.header-menu .link:hover,
.header-menu .link:focus{
    color:var(--accent-color);
}

.header-menu a{
    margin: 0px;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}
.header-menu a:hover,
.header-menu a:focus{
    color:var(--accent-color)
}
.header-menu .link.current{
    margin-right: 0px;
    color:var(--accent-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em; 
}

/* общие войства контанктов */
.mail:hover,
.mail:focus{
    color:var(--accent-color)
}

.phone:hover,
.phone:focus{
    color:var(--accent-color)
}
ul{
 margin: 0px;
}
.mail{
    display: flex;
    background-repeat: no-repeat;
    background-image: url(../img/mail.svg);
}
.phone{
    background-repeat: no-repeat;
    background-image: url(../img/phone.svg);
}
.pin{
    width: 16px;
    height: 12px;
    margin-left: 10px;

}
 .info a{

    font-family: inherit;
    
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--caption-color)
       
}
/* рассположение контента в heder */

.contacts{
    display: flex;
    padding-left: 0px;
}
.phone-mail{
    margin-left: auto;
    color:var(--caption-color);
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: inherit;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:var(--caption-color)
}  


.header-menu{
    display: flex;
    margin-left: 85px;
    padding-left: 0px;
    padding-top: 32px;
    padding-bottom: 32px;
    
}
.header-menu .item+.item{
    margin-left: 50px;
}
.contacts .info+.info{
    margin-left: 50px;
}
.auth-nav{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
   
}

/* banner */

.hero{
    
    text-align: center;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--caption-color);
    background-image: linear-gradient(to right,
    rgba(47,48,58,0.8),
    rgba(47,48,58,0.8)),
    url("../img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 200px;
}

.banner.title{
    display: flex;
    flex-flow: column;
    
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.btn{
    content:"";
    background-color: var(--accent-color);
    color:var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    text-transform: none;
    text-decoration: none;
    display: inline-flex;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;

}
.buttom{
    
    color:var(--white-color);
    text-transform: none;
    text-decoration: none;
    display: flex;
   
    font-family: inherit;
    font-weight: 700px;
    font-style: normal;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

}
    
.main-title{
    
    display:inline-block;
    width: 696px;
    
    margin-bottom: 30px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;

    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;  
    color: var(--white-color);
   
} 
.class{
    margin-right: 10px;
}
  
.section{
   
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    margin-top: 94px;
    margin-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
}
.feature-list{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    font-family: inherit;
}

.flex-element{
    width: 270px;
    margin: 15px;
        
}

.flex-element.img{
    margin-top: 30px;
    margin-bottom: 30px;
}
.flex-element::before{
    content: "";
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    width: 270px;
    height: 120px;
    display:block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color:#F5F4FA;    
}
.icon-delivery::before{
    background-image: url(../img/antenna.svg);
}
.icon-clock:before{
    background-image: url(../img/clock.svg);
}
.icon-comp::before{
    background-image: url(../img/comp.svg);
}
.icon-austr::before{
    background-image: url(../img/astronaut.svg);
}
/* main container */

.section.skill{
   padding-top: 0px;
   padding-bottom: 0px;
   margin-top: 94px;
   margin-bottom: 94px;
}
.buttom:hover,
.buttom:focus {
    background: var(--accent-color);
}
.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.feature-list .title {
    color: var(--primary-text-color);
    text-transform: uppercase;
}
.text {
    color: var(--caption-color);
    font-weight: 400;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.feature-list .text {
    font-size: 14px;
    line-height: 1.71;
}
.section-title {
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color:  var(--primary-text-color);
}
.skill-list .title {
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
}
/* team */
.team .title {
    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;

    color: var(--primery-text-color);
} 
.team .caption{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    color:var(--caption-color);
}
.team .text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.flex-clients{
    content: "";
    display:flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
    width: 170px;
    height: 90px;
    display:block;
 
    background-position: 50% 50%;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
}
.icon-yaco{
    background-image: url(../img/ya-co.svg);
    margin-top: 19px;
}  

.tagline{
    background-image: url(../img/tagline.svg);
    margin-top: 24px;
}
.company{
    background-image: url(../img/company.svg); 
    margin-top: 24px;

}
.peters{
    background-image: url(../img/peters.svg);
    margin-top: 24px;
    
}
.brand{
    background-image: url(../img/company-5.svg);
    
    margin-top: 22px;
  
}
.tag{
    background-image: url(../img/company-6.svg);
    margin-top: 22px;
}
.clients li:hover,
.clients li :focus{
    color:var(--accent-color)
}


.flex-container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    align-content: center;
}

.skill-list{
    display: flex;
    margin:-15px;
    
}
.flex-list{
    width: 370px;
    margin: 15px;
    margin-left: 0px;  
}
.flex-list:nth-child(3n){
    margin-right: 0px;
}

.section-team{
    margin-bottom: 94px;
    margin-top: 94px;
    
    background-color: var(--background);
}
.section-team.instagram-team{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

}
.icon{

    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor:pointer;
    fill:currentColor
}

.section-team.instagram-team:hover,
.section-team.instagram-team:focus{
    background-color: var(--accent-color)
}
/* flex team */
.team ul{ 
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
   
}
.team{
    margin-top: 94PX;
    margin-bottom: 94PX;
}
.flex-box { 
    display: flex;
    flex-wrap: wrap;
    margin:-15px;
    justify-content: center;
}

.flex-team{
    width: 270px;
    margin: 15px;
    margin-left: 0px;  
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    

}

/* clients */
.test-container ul{ 
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
}
    
.clients {
    display: flex;
    flex-wrap: wrap;
    margin:-15px;
}
    
.flex-clients{
    width: 170px;
    margin: 15px;
    margin-left: 0px;   
}
.flex-clients :hover,
.flex-clients :focus{
    color:var(--accent-color)
}
.box-clients{
    margin-bottom: 94px;
}

.section-clients{
    margin-bottom: 94px;
    margin-top: 94px;
   
}


/* footer */
footer{    
    background: #2F303A;
    margin-top: 94px;
    margin-bottom: 94px;
}
.footer-logo:hover,
.footer-logo:focus{
    color:var(--accent-color);
}
.footer-logo{

    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--white-color);
    text-decoration: none;
}
.address{

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;


    letter-spacing: 0.03em;

    color:var(--white-color);
}
.address:hover,
.address:focus{
color:var(--accent-color);
}
.footer-link:hover,
.footer-link:focus{
    color:var(--accent-color);
}
.footer-link{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color:var(--contact-footer-color);
   
}
.social:hover,
.social:focus{
    color:var(--accent-color);
}
.footer-title{  
    font-family:'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;

    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    margin-top: 0px;
    margin-bottom: 0px;
}
.footer-title:hover,
.footer-title:focus{
    color:var(--accent-color);
}

/* footer-flex */
.footer-flex{
    display: flex;
    margin-left: 29px;
}

.logo-flex{
    margin-top: 50px;
    margin-right: 147px;
    margin-bottom: 69px;
}
.address{
    margin-top:20px ;
}
.link-flex{
    margin-top: 72px;
    margin-right: 155px;
    margin-bottom: 36px;
}

.social{
    display: flex;
    
}
.link-flex ul li:hover,
.link-flex ul li:focus{
    background-color: var(--accent-color);
}
.social-link.instagram{
    display: inline-block;
    width:44px;
    height: 44px;
    background-image: url(../img/instagram.svg);
    background-color:rgba(255, 255, 255, 0.1);;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}
.social-link.twitter{
    display: inline-block;
    width:44px;
    height: 44px;
    background-image: url(../img/twitter.svg);
    background-color:rgba(255, 255, 255, 0.1);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}
.social-link.facebook{
    display: inline-block;
    width:44px;
    height: 44px;
    background-image: url(../img/fb.svg);
    background-color:rgba(255, 255, 255, 0.1);;
    background-size: 10px 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}
.social-link.linkedin{
    display: inline-block;
    width:44px;
    height: 44px;
    background-image: url(../img/linkedin.svg);
    background-color:rgba(255, 255, 255, 0.1);;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}
.social{
    margin-top: 20px;
}
.social li+li{
    margin-left: 10px;
}
.buttom-flex{
        margin-top: 72px;
        margin-bottom: 30px ;

}

.buttom.footer{
    margin-top: 20px;
}
.buttom.footer::after{
    content: "";
    width: 24px;
    height: 24px;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-right: 28px;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-image: url("../img/icon.svg");
    background-size: contain;
    align-items: flex-end;
}
